.load-wrap {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: #fff;
}

/* .load-wrap::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(https://us.nanoscientific.org/wp-content/uploads/2021/07/exhibit_10_thumb.jpg);
	background-size: cover;
	background-position: center top;
	filter: blur(17px);
} */

.load-wrap img {
	width: 100%;
	height: 100%;
	filter: blur(17px);
	position: absolute;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #888 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
